---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Section from "../components/Section.astro";
---

<Layout title="Welcome to Astro.">
  <NavBar />

  <main class="snap-y snap-mandatory w-full h-screen overflow-x-hidden">
    <Section
      navColor="white"
      color="white"
      title="Eperience Tesla"
      text1="Schedule a Demo Drive Today"
    >
      <div slot="button1">
        <a
          class="border-[3px] rounded text-base text-white px-20 py-2 border-white backdrop-blur-xl hover:bg-white hover:text-black transition-colors ease-linear"
          href="#">Demo Drive</a
        >
      </div>

      <div class="absolute top-0 bottom-0 h-screen w-screen z-10">
        <video
          slot="background"
          class="object-center object-cover h-screen w-screen"
          autoplay
          loop
          muted
          src="../../public/main-video.webm"></video>
      </div>
    </Section>

    <Section
      navColor="black"
      color="black"
      title="Model 3"
      text1="Starting at $32,740"
      text2="After Federal Tax Credit"
    >
      <div slot="button2" class="flex gap-5 justify-center">
        <a
          class="border-[3px] rounded text-base text-black px-20 py-2 border-white bg-white opacity-80"
          href="#">Explore Inventory</a
        >

        <a
          class="border-[3px] rounded text-base text-white px-20 py-2 border-black bg-black opacity-60"
          href="#">Custom Order</a
        >
      </div>

      <div
        class="absolute top-0 bottom-0 h-screen w-screen z-10 after:content-[''] after:bg-gradient-to-b from-white after:absolute after:w-screen after:top-0 after:h-52 after:opacity-50"
      >
        <img
          slot="background"
          class="object-center object-cover h-screen w-screen"
          src="../../public/second-screen-image.jpg"
        />
      </div>
    </Section>

    <Section
      navColor="black"
      color="black"
      title="Model Y"
      text1="Starting at $40,240"
      text2="After Federal Tax Credit"
    >
      <div slot="button2" class="flex gap-5 justify-center">
        <a
          class="border-[3px] rounded text-base text-black px-20 py-2 border-white bg-white opacity-80"
          href="#">Explore Inventory</a
        >

        <a
          class="border-[3px] rounded text-base text-white px-20 py-2 border-black bg-black opacity-60"
          href="#">Custom Order</a
        >
      </div>

      <div class="absolute top-0 bottom-0 h-screen w-screen z-10">
        <img
          slot="background"
          class="object-center object-cover h-screen w-screen"
          src="../../public/model-y-landing-image.avif"
        />
      </div>
    </Section>

    <Section
      navColor="black"
      color="black"
      title="Model S"
      textanchor="Explore Inventory"
    >
      <div slot="button2" class="flex gap-5 justify-center">
        <a
          class="border-[3px] rounded text-base text-black px-20 py-2 border-white bg-white opacity-60"
          href="#">Custom Order</a
        >

        <a
          class="border-[3px] rounded text-base text-white px-20 py-2 border-black bg-black opacity-60"
          href="#">Demo Drive</a
        >
      </div>

      <div class="absolute top-0 bottom-0 h-screen w-screen z-10">
        <img
          slot="background"
          class="object-center object-cover h-screen w-screen"
          src="../../public/model-s-landing-image.avif"
        />
      </div>
    </Section>

    <Section
      navColor="black"
      color="black"
      title="Model X"
      textanchor="Explore Inventory"
    >
      <div slot="button2" class="flex gap-5 justify-center">
        <a
          class="border-[3px] rounded text-base text-black px-20 py-2 border-white bg-white opacity-80"
          href="#">Custom Order</a
        >

        <a
          class="border-[3px] rounded text-base text-white px-20 py-2 border-black bg-black opacity-60"
          href="#">Demo Drive</a
        >
      </div>

      <div class="absolute top-0 bottom-0 h-screen w-screen z-10">
        <img
          slot="background"
          class="object-center object-cover h-screen w-screen"
          src="../../public/model-x-landing-image.avif"
        />
      </div>
    </Section>

    <Section
      navColor="black"
      color="black"
      title="Solar Panels"
      textanchor="Schedule a Virtual Consultation"
    >
      <div slot="button2" class="flex gap-5 justify-center">
        <a
          class="border-[3px] rounded text-base text-black px-20 py-2 border-white bg-white opacity-80"
          href="#">Order Now</a
        >

        <a
          class="border-[3px] rounded text-base text-white px-20 py-2 border-black bg-black opacity-60"
          href="#">Learn More</a
        >
      </div>

      <div class="absolute top-0 bottom-0 h-screen w-screen z-10">
        <img
          slot="background"
          class="object-center object-cover h-screen w-screen"
          src="../../public/solar-panels-landing-image.avif"
        />
      </div>
    </Section>

    <Section
      navColor="black"
      color="black"
      title="Solar Roof"
      text1="Produce Clean Energy From Your Roof"
    >
      <div slot="button2" class="flex gap-5 justify-center">
        <a
          class="border-[3px] rounded text-base text-black px-20 py-2 border-white bg-white opacity-80"
          href="#">Order Now</a
        >

        <a
          class="border-[3px] rounded text-base text-white px-20 py-2 border-black bg-black opacity-60"
          href="#">Learn More</a
        >
      </div>

      <div class="absolute top-0 bottom-0 h-screen w-screen z-10">
        <img
          slot="background"
          class="object-center object-cover h-screen w-screen"
          src="../../public/solar-roof-landing-image.avif"
        />
      </div>
    </Section>

    <Section 
    navColor="black" 
    color="black" 
    title="Powerwall">
      <div slot="button2" class="flex gap-5 justify-center">
        <a
          class="border-[3px] rounded text-base text-black px-20 py-2 border-white bg-white opacity-80"
          href="#">Order Now</a
        >

        <a
          class="border-[3px] rounded text-base text-white px-20 py-2 border-black bg-black opacity-60"
          href="#">Learn More</a
        >
      </div>

      <div class="absolute top-0 bottom-0 h-screen w-screen z-10">
        <img
          slot="background"
          class="object-center object-cover h-screen w-screen"
          src="../../public/powerwall-landing-image.avif"
        />
      </div>
    </Section>

    <Section 
    navColor="black" 
    color="black" 
    title="Accessories">
      <div slot="button1">
        <a
          class="border-[3px] rounded text-base text-black px-20 py-2 border-white bg-white opacity-90"
          href="#">Shop Now</a
        >
      </div>

      <div slot="footer" class="flex pb-8 justify-center items-center z-30">
        <ul class="flex gap-4 text-white text-[12px]">
          <li><a href="#">Tesla &#169; 2023</a></li>
          <li><a href="#">Privacy & Legal</a></li>
          <li><a href="#">Vehicle Recalls</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Get Updates</a></li>
          <li><a href="#">Locations</a></li>
        </ul>
      </div>

      <div class="absolute top-0 bottom-0 h-screen w-screen z-10">
        <img
          slot="background"
          class="object-center object-cover h-screen w-screen"
          src="../../public/accessories-landing-image.avif"
        />
      </div>
    </Section>
  </main>
</Layout>
